@import '../../_partial/functions';
@import '../../_partial/mixins';
@import 'colors';
@import '../../_partial/ansi';

@import url('https://fonts.googleapis.com/css?family=VT323');

body{

	#uwot {
		font: 12px "Proxima Nova", Helvetica, Arial, sans-serif;
		
		@include ansi(mapGet($theme-colors, 'ansi'), '8');
		
		.terminal {
			font-family: 'VT323', monospace;
			color: mapGet($theme-colors, 'tag', 'text');
			background: mapGet($theme-colors, 'scheme', 'primary', 'bg');
	
			a {
				color: mapGet($theme-colors, 'tag', 'link');
	
				&:hover,
				&:active {
					color: mapGet($theme-colors, 'tag', 'hover');
					text-decoration: none;
				}
	
			}

			.header {
				border-color: mapGet($theme-colors, 'tag', 'border');
				background: mapGet($theme-colors, 'scheme', 'primary', 'bg');
			}

			.output {
				width: 100%;
				min-height: 300px;
			}
	
			.cli {
				width: calc(100% - 2em);
				margin: 0.5em 0;
				border-color: mapGet($theme-colors, 'tag', 'border');
		
				form {
			
					.field {
				
						&:before {
							content: '\0023';
						}
				
						input,
						input:focus,
						input:active {						
							color: mapGet($theme-colors, 'tag', 'text');
						}
			
					}
		
				}
		
			}
	
		}
	
	}

}
