@import "compass/css3";
@import "_partial/functions";
@import "_partial/mixins";

body {
	margin: 0;
	
	#uwot {
		font: 10px "Proxima Nova", Helvetica, Arial, sans-serif;

		.terminal {
			font-family: monospace;
			width: calc(100% - 2em);
			height: calc(100% - 2em);
			min-height: calc(320px - 2em);
			position: fixed;
			padding: 1em;
	
			.header {
				min-height: 1em;
				border-bottom: 1px solid;
				position: absolute;
				top: 0;
				z-index: 10;
				width: calc(100% - 2em);
				margin: 0.5em 0;
			}
	
			.output {
				width: 100%;
				min-height: 300px;
				margin: 5em 0;
				height: calc(100% - 8em);
				background-size: cover;
				background-position-x: center;
				overflow: hidden;
				overflow-y: auto;
			}
		
			.cli {
				width: 100%;
				height: 2em;
				overflow: hidden;
				min-height: 1em;
				border-top: 1px solid;
				position: absolute;
				bottom: 0;
				padding: 0.5em 0;
				z-index: 10;
			
				form {
					width: 100%;
				
					.field {
						width: 100%;
						position: relative;
						margin-left: 0;
					
						&:before {
							content: attr(data-prompt) var(--prompt, '>');
							position: absolute;
							left: 0;
							top: 0;
							font: inherit;
						}
					
						input,
						input:focus,
						input:active {						
							margin: 0;
							padding: 0;
							display: inline-block;
							white-space: normal;
							line-height: 1;
							background: transparent;
							border: 0;
							outline: 0;
							-webkit-appearance: none;
							font: inherit;
							color: inherit;
							-webkit-box-sizing:content-box;
							-moz-box-sizing:content-box;
							box-sizing:content-box;
							width: calc(100% - 1em);
						}
				
					}
			
				}
			
			}
		
		}
	
	}
	
}

@media (min-width: 642px) {

	body {
	
		#uwot {
			font-size: 14px;
			
			.terminal {
			
				.output {
					background-position-x: initial;
				}
			
			}
			
		}

	}

}
