@charset "UTF-8";
/****

	Extended map-get to get nested values in nested maps
	Usage: same as mapGet, but each comma-separated argument is another level down in keys
	E.G. — given var $deep-map:

	$deep-map: (
		level-1-one: (
			level-2-one: 11,
			level-2-two: 12
		),
		level-1-two: (
			level-2-one: 21,
			level-2-two: (
				level-3-one: 221,
				level-3-two: 222
			),
			level-2-three: 23
		)
	);
	
	mapGet($deep-map, 'level-1-one') is equivalent to map-get($deep-map, 'level-1-one'),
	and returns the map as a variable for further processing by the processor.
	HOWEVER, this is more useful for getting actual deeply nested values...

	mapGet($deep-map, 'level-1-one', 'level-2-two') returns 12
	mapGet($deep-map, 'level-1-two', 'level-2-two', 'level-3-one') returns 221

****/
/****

	CALC

****/
/*
@include calc('height','100%','-','20px');
renders to:
	height: -webkit-calc(100% - 20px);
	height: -moz-calc(100% - 20px);
	height: -ms-calc(100% - 20px);
	height: -o-calc(100% - 20px);
	height: calc(100% - 20px);
*/
/****

	NUMBER STRING TO EM

****/
/*
@include numstrtoem('left', '-1');
renders to:
	left: -1em
*/
/****
	
	ANSI 16 Color Map

****/
/****
	
	Theme Color Map

****/
/****
	
	Contextual Color Shortcuts for Common Tags/States

****/
/****
	
	The Master Map

****/
/*** 	NOTE — This depends on functions in the _functions.scss file!
		Make sure this @import is after one for that file!	***/
/****

	SUPPORT VARS

****/
/****

	ANSI MIXIN - Generates Classes for ANSI

****/
/*
$color-map must be a SASS map with values matching, at minimum, values from ANSI-8
(16 is supported by default).
$ansi-mode can be set to '8' to restrict generated classes to eight colors.
$decorations must be one of the following:
	'all' - rules for all decorations (overrides any other list member)
	'none' - no decorations rules generated (overridden by any list member, i.e. only works by itself)
	a list including any of the following (will generate rules for each in this list):
		'bold' - increases font weight for any .ansi.bold tag
		'underline' - adds text decoration for any .ansi.underline tag
		'reversed' - inverts colors for any .ansi.reversed tag (heavy!)

*/
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
/* line 10, ../../../scss/theme/borg/main.scss */
body #uwot {
  --prompt: 'C:\\>';
  font-size: 8px;
}
/* line 61, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi {
  /* black */
  /* red */
  /* green */
  /* yellow */
  /* blue */
  /* magenta */
  /* cyan */
  /* white */
  /* bright-black */
  /* bright-red */
  /* bright-green */
  /* bright-yellow */
  /* bright-blue */
  /* bright-magenta */
  /* bright-cyan */
  /* bright-white */
}
/* line 67, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bold,
body #uwot .ansi .bold {
  font-weight: 800;
}
/* line 75, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.underline,
body #uwot .ansi .underline {
  text-decoration: underline;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-black {
  color: #032555;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-black.reversed,
body #uwot .ansi.fg-black .ansi.reversed {
  color: inherit;
  background-color: #032555;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-black {
  background-color: #032555;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-black.reversed,
body #uwot .ansi.bg-black .ansi.reversed {
  color: #032555;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-red {
  color: #FA1418;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-red.reversed,
body #uwot .ansi.fg-red .ansi.reversed {
  color: inherit;
  background-color: #FA1418;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-red {
  background-color: #FA1418;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-red.reversed,
body #uwot .ansi.bg-red .ansi.reversed {
  color: #FA1418;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-green {
  color: #3CFD4D;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-green.reversed,
body #uwot .ansi.fg-green .ansi.reversed {
  color: inherit;
  background-color: #3CFD4D;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-green {
  background-color: #3CFD4D;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-green.reversed,
body #uwot .ansi.bg-green .ansi.reversed {
  color: #3CFD4D;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-yellow {
  color: #FFFD34;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-yellow.reversed,
body #uwot .ansi.fg-yellow .ansi.reversed {
  color: inherit;
  background-color: #FFFD34;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-yellow {
  background-color: #FFFD34;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-yellow.reversed,
body #uwot .ansi.bg-yellow .ansi.reversed {
  color: #FFFD34;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-blue {
  color: #2D7CBF;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-blue.reversed,
body #uwot .ansi.fg-blue .ansi.reversed {
  color: inherit;
  background-color: #2D7CBF;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-blue {
  background-color: #2D7CBF;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-blue.reversed,
body #uwot .ansi.bg-blue .ansi.reversed {
  color: #2D7CBF;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-magenta {
  color: #FA29FC;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-magenta.reversed,
body #uwot .ansi.fg-magenta .ansi.reversed {
  color: inherit;
  background-color: #FA29FC;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-magenta {
  background-color: #FA29FC;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-magenta.reversed,
body #uwot .ansi.bg-magenta .ansi.reversed {
  color: #FA29FC;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-cyan {
  color: #3AFEFE;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-cyan.reversed,
body #uwot .ansi.fg-cyan .ansi.reversed {
  color: inherit;
  background-color: #3AFEFE;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-cyan {
  background-color: #3AFEFE;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-cyan.reversed,
body #uwot .ansi.bg-cyan .ansi.reversed {
  color: #3AFEFE;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-white {
  color: #fcfcee;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-white.reversed,
body #uwot .ansi.fg-white .ansi.reversed {
  color: inherit;
  background-color: #fcfcee;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-white {
  background-color: #fcfcee;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-white.reversed,
body #uwot .ansi.bg-white .ansi.reversed {
  color: #fcfcee;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-black {
  color: #3F043F;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-black.reversed,
body #uwot .ansi.fg-bright-black .ansi.reversed {
  color: inherit;
  background-color: #3F043F;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-black {
  background-color: #3F043F;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-black.reversed,
body #uwot .ansi.bg-bright-black .ansi.reversed {
  color: #3F043F;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-red {
  color: #FB8182;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-red.reversed,
body #uwot .ansi.fg-bright-red .ansi.reversed {
  color: inherit;
  background-color: #FB8182;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-red {
  background-color: #FB8182;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-red.reversed,
body #uwot .ansi.bg-bright-red .ansi.reversed {
  color: #FB8182;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-green {
  color: #3CFD4D;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-green.reversed,
body #uwot .ansi.fg-bright-green .ansi.reversed {
  color: inherit;
  background-color: #3CFD4D;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-green {
  background-color: #3CFD4D;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-green.reversed,
body #uwot .ansi.bg-bright-green .ansi.reversed {
  color: #3CFD4D;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-yellow {
  color: #FFFE87;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-yellow.reversed,
body #uwot .ansi.fg-bright-yellow .ansi.reversed {
  color: inherit;
  background-color: #FFFE87;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-yellow {
  background-color: #FFFE87;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-yellow.reversed,
body #uwot .ansi.bg-bright-yellow .ansi.reversed {
  color: #FFFE87;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-blue {
  color: #1582FB;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-blue.reversed,
body #uwot .ansi.fg-bright-blue .ansi.reversed {
  color: inherit;
  background-color: #1582FB;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-blue {
  background-color: #1582FB;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-blue.reversed,
body #uwot .ansi.bg-bright-blue .ansi.reversed {
  color: #1582FB;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-magenta {
  color: #F582F7;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-magenta.reversed,
body #uwot .ansi.fg-bright-magenta .ansi.reversed {
  color: inherit;
  background-color: #F582F7;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-magenta {
  background-color: #F582F7;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-magenta.reversed,
body #uwot .ansi.bg-bright-magenta .ansi.reversed {
  color: #F582F7;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-cyan {
  color: #89FEFE;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-cyan.reversed,
body #uwot .ansi.fg-bright-cyan .ansi.reversed {
  color: inherit;
  background-color: #89FEFE;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-cyan {
  background-color: #89FEFE;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-cyan.reversed,
body #uwot .ansi.bg-bright-cyan .ansi.reversed {
  color: #89FEFE;
}
/* line 90, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-white {
  color: #fff;
}
/* line 95, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.fg-bright-white.reversed,
body #uwot .ansi.fg-bright-white .ansi.reversed {
  color: inherit;
  background-color: #fff;
}
/* line 105, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-white {
  background-color: #fff;
}
/* line 110, ../../../scss/_partial/_ansi.scss */
body #uwot .ansi.bg-bright-white.reversed,
body #uwot .ansi.bg-bright-white .ansi.reversed {
  color: #fff;
}
/* line 16, ../../../scss/theme/borg/main.scss */
body #uwot .terminal {
  font-family: "Lucida Console", 'Share Tech Mono', "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
  color: #fcfcee;
  background: #032555;
}
/* line 21, ../../../scss/theme/borg/main.scss */
body #uwot .terminal a {
  color: #1582FB;
}
/* line 24, ../../../scss/theme/borg/main.scss */
body #uwot .terminal a:hover, body #uwot .terminal a:active {
  color: #fff;
  text-decoration: none;
}
/* line 32, ../../../scss/theme/borg/main.scss */
body #uwot .terminal .header {
  border-color: #fcfcee;
  background: #032555;
}
/* line 37, ../../../scss/theme/borg/main.scss */
body #uwot .terminal .output {
  width: 100%;
  min-height: 300px;
}
/* line 42, ../../../scss/theme/borg/main.scss */
body #uwot .terminal .cli {
  width: calc(100% - 2em);
  margin: 0.5em 0;
  border-color: #fff;
}
/* line 49, ../../../scss/theme/borg/main.scss */
body #uwot .terminal .cli form .field {
  margin-left: 3ch;
}
/* line 52, ../../../scss/theme/borg/main.scss */
body #uwot .terminal .cli form .field:before {
  left: -3ch;
}
/* line 56, ../../../scss/theme/borg/main.scss */
body #uwot .terminal .cli form .field input,
body #uwot .terminal .cli form .field input:focus,
body #uwot .terminal .cli form .field input:active {
  color: #fff;
}

@media (min-width: 642px) {
  /* line 78, ../../../scss/theme/borg/main.scss */
  body #uwot {
    font-size: 12px;
  }
}
