extends layout

block content
	-if (theme)
		-var themeClass = theme.toLowerCase()
	-else
		-var themeClass = 'default'
	-if (nonce)
		-var nval = nonce
	-else
		-var nval = ''
	div(class=themeClass class=["uwot"] id='uwot')
		div(id='uwotterminal' class='terminal')
			div(id='uwotheader' class='header')
				h1= title
			div(id='uwotoutput' class='output')
			div(id='uwotcli' class='cli')
				form(id='cliform' name='cliform' method='POST' autocomplete="off")
					div(class='field' data-prompt="")
						input(id='uwotcli-input' name='path' autocomplete="off")
						input(id='uwotcli-nonce' name='nonce' type='hidden' value=nval)
