@charset "UTF-8";
/****

	Extended map-get to get nested values in nested maps
	Usage: same as mapGet, but each comma-separated argument is another level down in keys
	E.G. — given var $deep-map:

	$deep-map: (
		level-1-one: (
			level-2-one: 11,
			level-2-two: 12
		),
		level-1-two: (
			level-2-one: 21,
			level-2-two: (
				level-3-one: 221,
				level-3-two: 222
			),
			level-2-three: 23
		)
	);
	
	mapGet($deep-map, 'level-1-one') is equivalent to map-get($deep-map, 'level-1-one'),
	and returns the map as a variable for further processing by the processor.
	HOWEVER, this is more useful for getting actual deeply nested values...

	mapGet($deep-map, 'level-1-one', 'level-2-two') returns 12
	mapGet($deep-map, 'level-1-two', 'level-2-two', 'level-3-one') returns 221

****/
/****

	CALC

****/
/*
@include calc('height','100%','-','20px');
renders to:
	height: -webkit-calc(100% - 20px);
	height: -moz-calc(100% - 20px);
	height: -ms-calc(100% - 20px);
	height: -o-calc(100% - 20px);
	height: calc(100% - 20px);
*/
/****

	NUMBER STRING TO EM

****/
/*
@include numstrtoem('left', '-1');
renders to:
	left: -1em
*/
/* line 5, ../scss/style.scss */
body {
  margin: 0;
}
/* line 8, ../scss/style.scss */
body #uwot {
  font: 10px "Proxima Nova", Helvetica, Arial, sans-serif;
}
/* line 11, ../scss/style.scss */
body #uwot .indicator-container {
  background-size: cover;
}
/* line 14, ../scss/style.scss */
body #uwot .indicator-container.loading {
  background-image: url("/images/tmploader.gif");
  background-image: url("/images/tmploader.svg");
}
/* line 21, ../scss/style.scss */
body #uwot .terminal {
  font-family: monospace;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  min-height: calc(320px - 2em);
  position: fixed;
  padding: 1em;
  overflow: hidden;
}
/* line 30, ../scss/style.scss */
body #uwot .terminal h1 {
  font-size: 1.5em;
  font-weight: 500;
}
/* line 35, ../scss/style.scss */
body #uwot .terminal h2 {
  font-size: 1.25em;
  font-weight: 500;
}
/* line 40, ../scss/style.scss */
body #uwot .terminal h3 {
  font-size: 1.125em;
  font-weight: 500;
}
/* line 45, ../scss/style.scss */
body #uwot .terminal h4 {
  font-size: 1em;
  font-weight: 600;
}
/* line 50, ../scss/style.scss */
body #uwot .terminal h5 {
  font-weight: 200;
}
/* line 54, ../scss/style.scss */
body #uwot .terminal h6 {
  font-weight: 200;
}
/* line 58, ../scss/style.scss */
body #uwot .terminal .header {
  min-height: 1em;
  border-bottom: 1px solid;
  position: fixed;
  top: 0;
  z-index: 10;
  width: calc(100% - 2em);
  margin: 0.5em 0;
}
/* line 68, ../scss/style.scss */
body #uwot .terminal .header > h1 {
  max-width: calc(100% - 2em - 4px);
}
/* line 71, ../scss/style.scss */
body #uwot .terminal .header > h1 > span {
  margin-right: 1ch;
  word-break: break-all;
}
/* line 75, ../scss/style.scss */
body #uwot .terminal .header > h1 > span.header-cwd {
  margin-left: 1ch;
  white-space: nowrap;
  display: inline-block;
}
/* line 80, ../scss/style.scss */
body #uwot .terminal .header > h1 > span.header-cwd .ellipsis-text {
  display: inline-block;
  position: relative;
  text-align: left;
  direction: rtl;
  white-space: nowrap;
  overflow-x: hidden;
  max-width: 100%;
  vertical-align: bottom;
}
/* line 91, ../scss/style.scss */
body #uwot .terminal .header > h1 > span.header-cwd > .ellipsis {
  display: none;
}
/* line 101, ../scss/style.scss */
body #uwot .terminal .header .indicator-container {
  min-height: 1em;
  min-width: 1em;
  position: absolute;
  border: 1px solid;
  font-size: 2em;
  top: 0;
  right: 0;
  margin: 0.33em 0;
}
/* line 114, ../scss/style.scss */
body #uwot .terminal .output {
  width: 100%;
  min-height: 300px;
  margin: 7em 0 0;
  height: calc(100% - 8em);
  background-size: cover;
  background-position-x: center;
  overflow: hidden;
}
/* line 124, ../scss/style.scss */
body #uwot .terminal .output .output-container {
  width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}
/* line 136, ../scss/style.scss */
body #uwot .terminal .output .output-container > :first-child {
  margin-top: auto !important;
}
/* line 141, ../scss/style.scss */
body #uwot .terminal .output .output-container .outputline {
  line-height: 1.1em;
  margin: 0.25em 0;
}
/* line 145, ../scss/style.scss */
body #uwot .terminal .output .output-container .outputline.add-prompt {
  margin-left: 4ch;
  position: relative;
  min-height: 1em;
}
/* line 150, ../scss/style.scss */
body #uwot .terminal .output .output-container .outputline.add-prompt:before {
  content: var(--prompt, ">") " ";
  position: absolute;
  left: -4ch;
  top: 0;
  font: inherit;
}
/* line 167, ../scss/style.scss */
body #uwot .terminal .cli {
  width: 100%;
  height: 2em;
  overflow: hidden;
  min-height: 1em;
  border-bottom: 1px solid;
  position: fixed;
  top: 4em;
  padding: 0.5em 0;
  z-index: 10;
}
/* line 181, ../scss/style.scss */
body #uwot .terminal .cli .disabled {
  opacity: 0.5;
}
/* line 185, ../scss/style.scss */
body #uwot .terminal .cli form {
  width: 100%;
}
/* line 188, ../scss/style.scss */
body #uwot .terminal .cli form .field {
  width: 100%;
  position: relative;
  margin-left: 0;
  font-size: 16px;
}
/* line 194, ../scss/style.scss */
body #uwot .terminal .cli form .field:before {
  content: attr(data-cwd) " " attr(data-prompt) var(--prompt, ">");
  position: absolute;
  left: 0;
  top: 0;
  font: inherit;
}
/* line 202, ../scss/style.scss */
body #uwot .terminal .cli form .field input,
body #uwot .terminal .cli form .field input:focus,
body #uwot .terminal .cli form .field input:active {
  margin: 0;
  padding: 0;
  display: inline-block;
  white-space: normal;
  line-height: 1;
  background: transparent;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: calc(100% - 1em);
}

@media (min-width: 648px) {
  /* line 238, ../scss/style.scss */
  body #uwot {
    font-size: 14px;
  }
  /* line 243, ../scss/style.scss */
  body #uwot .terminal .header {
    position: absolute;
  }
  /* line 246, ../scss/style.scss */
  body #uwot .terminal .header .indicator-container {
    margin: 0.33em 0;
  }
  /* line 252, ../scss/style.scss */
  body #uwot .terminal .output {
    background-position-x: initial;
    margin: 5em 0;
  }
  /* line 256, ../scss/style.scss */
  body #uwot .terminal .output .output-container {
    flex-direction: column;
    justify-content: initial;
  }
  /* line 260, ../scss/style.scss */
  body #uwot .terminal .output .output-container > :first-child {
    margin-top: auto !important;
    margin-bottom: 0 !important;
  }
  /* line 269, ../scss/style.scss */
  body #uwot .terminal .cli {
    position: absolute;
    border-top: 1px solid;
    border-bottom-width: 0;
    top: initial;
    bottom: 0;
  }
  /* line 278, ../scss/style.scss */
  body #uwot .terminal .cli form .field {
    font-size: inherit;
  }
}
